body {
    font-family: 'Arial', sans-serif;
}

.left-side {
    background-image: url('../assets/img/book.jpg'); /* Adjusted path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-side .logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.right-side {
    background-color: #f8f9fa;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.reservation-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-box p {
    color: #ff8800;
    margin-bottom: 20px;
}

.existing-users p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.existing-users .btn {
    margin-bottom: 10px;
}

.btn-block {
    width: 100%;
}
